.navigation {
  background-color: #fff;
  -webkit-box-shadow: 0px -6px 26px 1px rgba(125, 125, 125, 0.1);
  -moz-box-shadow: 0px -6px 26px 1px rgba(125, 125, 125, 0.1);
  box-shadow: 0px -6px 26px 1px rgba(125, 125, 125, 0.1);
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
}

.navigation-content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .navigation-content {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation-content ul {
  display: none;
}

@media (min-width: 768px) {
  .navigation-content ul {
    background-color: #fff;
    display: block;
    margin: 0.5em 0;
  }
}

.navigation-content li {
  padding: 20px;
  border-bottom: 1px solid #ededed;
  /*Border eller inte? */
}

@media (min-width: 768px) {
  .navigation-content li {
    display: inline-block;
    border: none;
  }
}

.navigation-content a {
  color: #212121;
  text-decoration: none;
  transition: 0.4s;
}

.navigation-content a:hover {
  color: #367e9b;
}

.logo-wrapper {
  padding-left: 20px;
}

.logo {
  padding: 12px 0;
  height: 50px;
}

.menu-icon {
  cursor: pointer;
  display: inline-block;
}

.line {
  background-color: #212121;
  width: 25px;
  height: 2px;
  margin: 2px 0 5px 0;
}

.mobile-menu {
  display: block;
  position: absolute;
  top: 30px;
  right: 20px;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.navigation-menu.responsive {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navigation-menu.responsive li {
  display: block;
}

@media (min-width: 768px) {
  .navigation-menu.responsive {
    width: auto;
    display: block;
  }
  .navigation-menu.responsive li {
    display: inline-block;
  }
}

.header {
  background: #ededed url(../images/header.jpg) 35% 50%/cover no-repeat;
  height: 300px;
  position: relative;
  padding: 3%;
  margin-top: 80px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-content {
  text-align: center;
  max-width: 300px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content img {
  width: 250px;
}

.header-content p {
  font-weight: 400;
  padding: 0 1em 1em;
  font-size: 1em;
}

.button {
  display: none;
}

@media (min-width: 480px) {
  .header {
    height: 350px;
  }
  .header-content {
    max-width: 400px;
  }
  .header-content img {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .header {
    height: 500px;
    padding: 0;
  }
  .header-content img {
    width: 400px;
  }
  .header-content p {
    font-size: 1.1em;
  }
  .button {
    display: block;
    background-image: linear-gradient(to bottom, #469cbe, #367e9b);
    border: none;
    color: white;
    padding: 10px 30px;
    font-size: 1em;
    cursor: pointer;
  }
}

@media (min-width: 960px) {
  .header {
    height: 500px;
  }
  .header-content {
    max-width: 60%;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 700px;
    background-position: top;
  }
  .header-content {
    max-width: 50%;
  }
  .header-content img {
    width: 450px;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-size: 16px;
  line-height: 1.5;
}
