.wrap{
  @include flex(row,center,center);
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: $sectionMargin;
  @include tablet {
    flex-wrap: nowrap; 
  }
}
div.text-content {
  order: 2;
  @include tablet {
    order: 0; 
  }
  @include desktop {
    order: 0;
  }
}
article.text-content {
  order: 1;
  @include tablet {
    order: 0; 
  }
  @include desktop {
    order: 0;
  }
}
.text-content{
  width:30em;
  margin-left:2em;
  margin-right:2em;
}
.text-content img{
  width: 100%;
  height: auto;
}
.tablet-image{
  width:100%;
  height:auto;
  display: none;
  @include tablet {
    display: block; 
    flex-direction:column;
  }
  @include desktop {
    display: none;
  } 
}