.wrap{
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom:80px;
  margin-bottom: $marginBot;
}
.text-content{
  float:none;
  width:calc(100% - 64px);
  width:calc(100% - 4em);
  padding: 0 32px;
  padding: 0 2em;
  @include tablet {
    float: left;
    width:calc(50% - 4em);
  }
}
.text-content img{
  width: 100%;
  height: auto;
}
.tablet-image{
  width:100%;
  height:auto;
  display: none;
  @include tablet {
    display: block;
  }
  @include desktop {
    display: none;
  }
}

@supports(display:flex){
  .wrap {
    @include flex(row,center,center);
    flex-wrap: wrap;
    @include tablet {
      flex-wrap: nowrap;
    }
  }
  .text-content{
    margin-left:2em;
    margin-right:2em;
    float:none;
    padding: 0;
  }
  div.text-content {
    order: 2;
    @include tablet {
      order: 0;
    }
    @include desktop {
      order: 0;
    }
  }
  article.text-content {
    order: 1;
    @include tablet {
      order: 0;
    }
    @include desktop {
      order: 0;
    }
  }
}
