.wrap{
  @include flex(row,center,center);
  flex-wrap: wrap;
  padding-bottom: 20%;
  padding-top: 20%;
}
.theme{
  width:30em;
  margin-left:2em;
  margin-right:2em;
}
.theme img{
  width: 100%;
  height: auto;
}