$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet 
{
  @media (min-width: #{$tablet-width}) 
  {
    @content;
  }
}

@mixin desktop 
{
  @media (min-width: #{$desktop-width}) 
  {
    @content;
  }
}

h2
{
  text-align: center;
  color:#fff; /* $lightColor*/
}

h3
{
  color:#464646; /* $darkColor */
  padding-bottom: 2em;

}
.contact-wrapper
{   
    background-color:#212121;/* $darkColor:*/
    color:#fff;              /*$lightColor;*/
    text-align: center;
    width: 100%;
    padding-bottom: 8em;
    padding-top: 2em;

     /*@include dektop
         {
            
         }*/
}

.contact-content
{
  display: inline-block;
  width:70%;  
  background-color:#fff;/*$lightColor;*/
  color: #377e9c;   /*$accentColor:*/
  padding-top: 4em;
  padding-bottom: 6em;
  border-radius: 0.5em;   

}
/*img
{
    width:70%;
    border-radius: 0.5em;  
}*/

.form1,.form2,.form3,.form4,.form5
{   
  line-height: 2em;
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 2em;
}
textarea
{
  width:80%;
  background:linear-gradient(#e5e4e2,#fff);
  flex-direction: column;
  height: 10em;
    border-radius: 0.5em;   
}
input[type=submit]
{
   width: 75%;
   /*$accentColor;*/
   background:linear-gradient(#377e9c,#295e75);
   /*   
     &:hover
      {
       background-color: (darken$accentColor,15%)
      } 
   */
    color: #fff; /*$lightColor*/
    border: none;
    border-radius: 0.5em; 
    padding-top: 1em;
    padding-bottom: 1em;

}
input
{
  width: 80%;
  background:linear-gradient(#e5e4e2,#fff);
  border-radius: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;  
}