.contacth2
{
     text-align: center;
     color:$lightColor;
     background-color:$darkColor;
     padding-top:1em;
     padding-bottom:1em;
 
       @include desktop
       {
       padding-top:2em;
       }      
}

.contact-wrapper
{   
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color:$darkColor;
    color:$lightColor;
    text-align: center;
    width: 100%;
    padding-bottom: 4em;

      @include desktop
      {
        padding-top:2em;
      }
}
.align-contactcontent
{
  width:100%;
  display:flex;
  align-items:stretch;
  justify-content:space-around;

}

.contact-content
{
  display: flex;
  align-items:stretch;
  flex-direction:column;
  justify-content:space-around;
  width:80%;  
  background-color:$lightColor;
  color: $accentColor;
  padding-top: 1em;
  padding-bottom: 2em;
  border-radius: 0.5em;  

    h3
    {
      color: $darkColor;

         @include desktop
         {
            padding-bottom:0em;
         }
         @include large
         {
            padding-top:1.5em;
         }
     }

    @include tablet
    {
      width:60%;
      padding-top: 2em;
      padding-bottom: 4em;
    }

    @include desktop
    {
      width: 35%;
      padding-top:0em;
      padding-bottom:1em;
      margin-right:2em;
      margin-bottom:0.4em; 
    } 
    @include large
    {
      margin-bottom:0.4em; 
    }
}

.contactimg
{
    display: none;

     @include desktop
     {
      display: inline-block;
      width:35%;
      margin-left:2em;
     }
     img
     {
     width:100%;
     border-radius: 0.5em; 
     }
}

input
{
  width: 80%;
  background-image: linear-gradient(to bottom, darken($lightColor, 10%), $lightColor);
  border-radius: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;  
}

.form1,.form2,.form3,.form4,.form5
{   
  letter-spacing: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  

    @include desktop
    {
      line-heigt:0em;
    }

    @include large
    {
      padding-bottom:0.5em;
    }
}

textarea
{
  width:80%;
  background-image: linear-gradient(to bottom, darken($lightColor, 10%), $lightColor);
  flex-direction: column;
  height: 5em;
  border-radius: 0.5em;   
   
         @include desktop
         {
            height:3em;
         }
         @include large
         {
            height:6em;
         }

}

input[type=submit]
{
   width: 75%;
   background-image: linear-gradient(to bottom, lighten($accentColor, 10%), $accentColor);
   color:$lightColor;
   border: none;
   border-radius: 0.5em; 
   padding-top: 1em;
   padding-bottom: 1em;

      @include desktop
      {
        width:75%;
        padding-top:0.5em;
        padding-bottom:0.5em;

      }
}

