.contact
{
  display:block;
  background-color:lighten($darkColor,5%);
}

.contact-width
{
  max-width:960px;
  margin:0 auto;
}

.contacth2
{
     text-align:center;
     color:$lightColor;
     padding-top:2em;
     padding-bottom:1em; 
}

.contact-wrapper
{   
     background-color:lighten($darkColor,5%);
     padding-top:1em;
     padding-bottom:1em;

       @include desktop
       {
       padding-top:2em;
       }
}

.contact-wrapper
{
    display: inline-block;
    color:$lightColor;
    text-align: center;
    width: 100%;
    padding-bottom: 4em;
    margin-bottom: $marginBot / 2;

    @include tablet {
        margin-bottom: $marginBot;
    }

    @include desktop
      {
        padding-top:2em;
      }
}

.contact-content
{
  display: inline-block;
  float: none;
  width:80%;
  background-color:$lightColor;
  color: $accentColor;
  padding-top: 1em;
  padding-bottom: 2em;
  border-radius: 0.5em;

    h3
    {
      color: $darkColor;
    }

         @include desktop
         {
            padding-bottom:0em;
         }
     

    @include tablet
    {
      width:60%;
      padding-top: 2em;
      padding-bottom: 3em;
    }

    @include desktop
    {
      width: 45%;
      float: right;
      margin-bottom: 0.4em;
    } 
}

.contactimg
{
    display: none;

     @include desktop
     {
      display: inline-block;
      width:45%;
      height:auto;
      float: left;
     }
     img
     {
     width:100%;
     border-radius: 0.5em;
     }
}

input
{
  width: 100%;
  background-image: linear-gradient(to bottom, darken($lightColor, 10%), $lightColor);
  border-radius: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;  
  padding: 0.5em;
}

.form1,.form2,.form3,.form4,.form5
{
  letter-spacing: 0.1em;
  padding-bottom:1.5em;
  margin-left: 2em;
  margin-right: 2em;

    @include tablet
    {
      margin-left: 3em;
      margin-right: 3em;
    }
}

textarea
{
  width:100%;
  background-image: linear-gradient(to bottom, darken($lightColor, 10%), $lightColor);
  height: 5em;
  border-radius: 0.5em;
  padding: 0.5em;
}

::-webkit-input-placeholder
{ /* Chrome/Opera/Safari */
  font-family:"Roboto", sans-serif;
}
::-moz-placeholder
{ /* Firefox 19+ */
  font-family:"Roboto", sans-serif;
}
:-ms-input-placeholder
{ /* IE 10+ */
  font-family:"Roboto", sans-serif;
}
:-moz-placeholder
{ /* Firefox 18- */
  font-family:"Roboto", sans-serif;
}

input[type=submit]
{
   width: 80%;
   background-image: linear-gradient(to bottom, lighten($accentColor, 10%), $accentColor);
   color:$lightColor;
   border: none;
   border-radius: 0.5em;
   padding-top: 1em;
   padding-bottom: 1em;
   cursor:pointer;

      &:hover
      {
      background-image: linear-gradient(to bottom, lighten($accentColor, 15%), $accentColor);
      }

}

@supports (display:flex)
{
  .contact-content
   {
      @include flex(column,space-around,stretch);
   }

  .contact-wrapper
   {
      @include flex($justify:space-around,$align:stretch);
   }

  .contacth2
   {
      @include flex($justify:center);
   }

  textarea
   {
      width:80%;
      @include flex($direction:column);
   }

  .form1,.form2,.form3,.form4,.form5
   {
      margin-left: 1em;
      margin-right: 1em;
      padding-bottom:0em;
      @include flex($direction:column,$align:center);
   }

   input
   {
      width:80%;
   }

   input[type=submit]
   {
      width: 75%; 
    

       @include desktop
       {
         padding-top:0.75em;
         padding-bottom:0.75em;
       }
    }
}

