.CustomerReviewsContainer {
    @include flex($direction: column, $justify: flex-start, $align: flex-start);
    @include margin;

    max-width: 9602 px;
    //margin: 0 auto;

    @include tablet {
        @include flex($direction: column, $justify: center, $align: center);
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
    }
    @include large {
        @include flex($direction: row, $justify: center, $align: center);
    }
}

.reviewContainer {
    padding: 1rem;

    @include tablet {
        @include flex($direction: column, $justify: center, $align: center);
        width: 45%;
    }
    @include desktop {
        @include flex($direction: column, $justify: center, $align: center);
        width: 21%;
    }
}

.italic {
    font-style: italic;
}