.CustomerReviewsContainer {
    @include flex(column, flex-start, flex-start);
    flex-wrap: wrap;
    @include margin;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: $sectionMargin;
    @include tablet {
        @include flex(row, center, flex-start);
    }
}
.reviewContainer {
    padding: 16px;
    padding: 1rem;
    @include tablet {
        flex-basis: calc(50% - 2rem);
    }
    @include desktop {
        flex-basis: calc(25% - 2rem);
    }
}

.italic {
    font-style: italic;
}

.reviewContainer {
    padding: 16px;
    padding: 1rem;
    width: calc(100% - 32px);
    width: calc(100% - 2rem);
    @include tablet {
        flex-basis: calc(50% - 32px);
        flex-basis: calc(50% - 2rem);
    }
    @include desktop {
        flex-basis: calc(25% - 32px);
        flex-basis: calc(25% - 2rem);
    }
 }

.italic {
    font-style: italic;
}

.textCenter {
    @include flex($direction: column, $justify: center, $align: center);
}    

//Makes 2 item closer
.noneMarginBottom {
    @include margin($top: 32px, $right: 0, $bottom: 0, $left: 0);
    @include margin($top: 2rem, $right: 0, $bottom: 0, $left: 0);
}
.noneMargineTop {
    @include margin($top: 0, $right: 0, $bottom: 32px, $left: 0);
    @include margin($top: 0, $right: 0, $bottom: 2rem, $left: 0);
}