.icon{
  width:2rem;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
}


.navigation {
  @include flex(row,center,center)
  list-style: none;
  margin: 0; 
  background:$accentColor;
  -webkit-flex-flow: row wrap;

}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: $lightColor;
}

.navigation a:hover {
  background: darken($accentColor, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a { 
    text-align: center; 
    padding: 10px;
  }


  .navigation li:last-of-type a {
    border-bottom: none;
  }
}




