.header {
    background:
        lighten($darkColor, 80%)
        url(../images/header.jpg)
        35% 50% / cover
        no-repeat;
    height: 300px;
    position: relative;
    margin-top: 80px;
    margin-bottom: $sectionMargin;
    @include flex(row, center, center);

    @include phone-landscape {
        height: 350px;
    }

    @include tablet {
        height: 400px;
        padding: 0;
    }

    @include desktop {
        height: 500px;
    }

    @include large {
        height: 650px;
        background-position: top;
    }
}
.header-content {
    text-align: center;
    @include flex(column, center, center);
    padding-top: 2em;

    @include tablet {
        padding-top: 1em;
    }

    @include desktop {
        padding-top: 0;
    }

    img {
        width: 250px;

        @include phone-landscape {
            width: 300px;
        }
        @include desktop {
            width: 400px;
        }

        @include large {
            width: 500px;
        }
    }

    p {
        width: 200px;

        @include phone-landscape {
          width: 300px;
        }
        @include tablet {
            max-width: 350px;
        }
    }
}
.button {
    background-image: linear-gradient(to bottom, lighten($accentColor, 10%), $accentColor);
    border: none;
    color: white;
    padding: 10px 30px;
    font-size: 1em;
    cursor: pointer;
    display: none;

    &:hover {
        background-image: linear-gradient(to bottom, lighten($accentColor, 15%), $accentColor);
    }

    @include tablet {
        display: block;
    }
}
