.OurTeamContainer {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: $marginBot / 2;

    overflow: hidden;

    @include tablet {
        margin-bottom: $marginBot;
    }
}
.ourteamContent {
    @include flex($direction: column, $justify: center, $align: center);
}

.ourTeamImg {
    width: 100px;
    width: 6.25rem;
    height: 100px;
    height: 6.25rem;

    @include tablet {
        width: 200px;
        width: 12.5rem;
        height: 12.5rem;
        height: 200px;
    }
}

.ourteamContent {
    @include flex($direction: column, $justify: center, $align: center);

    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
}

.devContainer {
    float: left;

    @include flex($direction: column, $justify: center, $align: center);
    width: 50%;
    @include margin($top: 0, $right: 0, $bottom: 32px, $left: 0);
    @include margin($top: 0, $right: 0, $bottom: 2rem, $left: 0);
    @include desktop{
        width: 25%;
    }

}

.moreInfo {
    display: none;
    @include margin($top: 0, $right: 0, $bottom: 0, $left: 0);

    //More info visible on tablet and bigger devices
    @include tablet{
        display: block;
    }
}


.textCenter {
    @include flex($direction: column, $justify: center, $align: center);
}

//Makes 2 item closer
.noneMarginBottom {
    @include margin($top: 32px, $right: 0, $bottom: 0, $left: 0);
    @include margin($top: 2rem, $right: 0, $bottom: 0, $left: 0);
}
.noneMargineTop {
    @include margin($top: 0, $right: 0, $bottom: 32px, $left: 0);
    @include margin($top: 0, $right: 0, $bottom: 2rem, $left: 0);
}
