.OurTeamContainer {
    @include flex($direction: column, $justify: center, $align: center);
    @include margin;
}

.ourTeamImg {
    width: 100px;
    height: 100px;

    @include tablet {
        width: 200px;
        height: 200px;
    }
}

.OurTeamContainer {
    @include flex($direction: column, $justify: center, $align: center);

    max-width: 960;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
}

.devContainer {
    @include flex($direction: column, $justify: center, $align: center);
    width: 50%;
    @include margin($top: 0rem, $right: 0rem, $bottom: 2rem, $left: 0rem);

    @include large{
        width: 25%;
    }
    
}


.moreInfo {
    display: none;
    @include margin($top: 0rem, $right: 0rem, $bottom: 0rem, $left: 0rem);

    //More info visible on tablet and bigger devices
    @include tablet{
        display: block;
    }
}