@import 'variables';

/* Navigation */
.navigation-content ul {
		display: block;
		margin: 0;
}
.navigation-content li {
		display: inline-block;
		border: none;
}
.mobile-menu {
		display: none;
}

/* Header */
.header {
		height: 600px;
		background-color: lighten($darkColor, 80%);
}
.header-content {
		position: relative;
		top: 0;
		left: 0;
		padding-top: 150px;

		img {
			width: 500px;
		}

		p {
			width: 350px;
		}
}
.button {
		display: block;
		background-color: $accentColor;
}

/* Content */
.text-content{
    float: left;
    width:43%;
}
.social-media{
		width:100%;
}

.work-content div {
		width: 13%;
}

/*Contact*/
.contact-content
{
	width: 45%;
    float: right;
    padding-bottom:4em;
    margin-bottom: 0.4em;
}
.contactimg
{
	  display: inline-block;
      width:45%;
      height:auto;
      float: left;
}
.reviewContainer {
	width: 21%;
}
.devContainer {
	width: 25%;
 }
 .moreInfo {
	display: block;
 }