@import 'variables';
@import 'mixins';
@import 'navbar';
@import 'header';
@import 'about';
@import 'work';
@import 'CustomerReviews';
@import 'contact';
@import 'OurTeam';
@import 'footer';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $darkColor;
    font-size: 16px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.05em;
}
