@import 'variables';
@import 'mixins';
@import 'navbar';
@import 'header';
@import 'about';
@import 'work';
@import 'reviews';
@import 'contact';
@import 'team';
@import 'footer';
@import 'mixins';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $darkColor;
    font-size: 16px;
    line-height: 1.5;
}
